@import 'my-component-dependencies';

.post + .post {
    margin-top: $my-gutter-md;
}

.post {
    background-color: $my-color-background;
    padding: $my-gutter-md;
    min-height: 150px;

    p {
        margin-bottom: 0;
    }
}
