<h2>Paging</h2>
<p>
    We are going to get data and page it, using
    <a href="https://www.npmjs.com/package/ngx-pagination">ngx-pagination</a>.
    Filter with <a href="https://www.npmjs.com/package/ngx-pipes#filterby">ngx-pipes#filterby</a>.
    OrderBy with <a href="https://www.npmjs.com/package/ngx-pipes#orderby">ngx-pipes#orderby</a>.
</p>
<div>
    <div class="my-filter">
        Filter: <input type="text" class="my-filter__query" [(ngModel)]="filterQuery" />
    </div>
    <div class="my-info">
        Total: {{ heroes?.length }}&nbsp;&nbsp;&nbsp;&nbsp;
        Filtered: {{ (heroes | filterBy: ['id', 'name']: filterQuery)?.length }}&nbsp;&nbsp;&nbsp;&nbsp;
        Showing: {{ showingCount((heroes | filterBy: ['id', 'name']: filterQuery)) }}&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="my-link-text" (click)="orderByName()">Toggle Order by Name</button> ({{ orderByQuery }})
    </div>
    <div class="my-hero" 
        *ngFor="let hero of heroes | filterBy: ['id', 'name']: filterQuery | orderBy: orderByQuery | paginate: { itemsPerPage: paginationSettings.itemsPerPage, currentPage: paginationSettings.currentPage }">
        <h3>ID: {{ hero.id }}</h3>
        <h4>{{ hero.name }}</h4>
    </div>
    <div class="my-pagination-controls">
        <pagination-controls class="my-pagination-controls__pager" (pageChange)="paginationSettings.currentPage = $event"></pagination-controls>
        <select class="my-pagination-controls__items-per-page" [(ngModel)]="paginationSettings.itemsPerPage">
            <option *ngFor="let nr of paginationSettings.selectableItemsPerPage;" [value]="nr">{{ nr }}</option>
        </select>
    </div>
</div>
