@import 'my-component-dependencies';

.my-filter {
    margin-bottom: $my-gutter-md;

    &__query {
        display: inline-block;
        width: auto;
    }
}

.my-info {
    margin-bottom: $my-gutter-md;
}

.my-hero {
    background-color: $my-color-background;
    padding: $my-gutter-md;

    *:last-child {
        margin-bottom: 0;
    }

    & + & {
        margin-top: $my-gutter-md;
    }
}

.my-pagination-controls {
    margin-top: $my-gutter-md;
    text-align: center;
    font-size: $small-font-size;

    @include breakpoint(medium) {
        font-size: $global-font-size;
    }

    &__pager {
    // https://angular.io/guide/component-styles
    /deep/ {
        .ngx-pagination {
                @include breakpoint(medium) { 
                    display: inline-block;
                }

                .pagination-previous,
                .pagination-next {
                    display: none;
            
                    @include breakpoint(medium) { 
                        display: inline-block;
                    }
                }
            }
        }
    }

    &__items-per-page {
        @include breakpoint(medium) {
            width: auto;
            position: relative;
            top: 2px;
        }
    }
}
