<h2>Bindings - Component</h2>

<div [hidden]="!post">
    <div>
        <button class="button" (click)="refresh()">Refresh data</button>
    </div>
    <p>
        Refresh does propagate down.
    </p>
    <div *ngIf="post">
        <!-- Else template exception since post is async. Could also do post?.userId etc -->
        <h3>User Id: {{ post.userId }}</h3>
        <h3>Id: {{ post.id }}</h3>
        <h3>Title: {{ post.title }}</h3>
        <p>Body: {{ post.body }}</p>
    </div>
    <p>
        <!-- previously we used expressions like 2 == 2 and 2 == 4 in these class directives, but prod build failed (must only use properties? And booleans?) -->
        <span #theSpan [class.true-that]="true" [ngClass]="{'foo': true, 'bar': false }">@ViewChild DOM Element</span>
        <br /> spans classes:
        <mark>{{theSpan.className}}</mark>
    </p>
    <my-bindings-child [post]="post" (change)="change($event)"></my-bindings-child>
</div>
