<h2>Bindings - Component</h2>

<div *ngIf="jsonData">
    <button class="button" (click)="refresh()">Refresh data</button>
</div>
<p>
    Refresh does propagate down.
</p>
<div *ngIf="jsonData">
    <h3>User Id: {{ jsonData.userId }}</h3>
    <h3>Id: {{ jsonData.id }}</h3>
    <h3>Title: {{ jsonData.title }}</h3>
    <p>Body: {{ jsonData.body }}</p>
</div>
<p>
    <!-- previously we used expressions like 2 == 2 and 2 == 4 in these class directives, but prod build failed (must only use properties? And booleans?) -->
    <span #theSpan [class.true-that]="true" [ngClass]="{'foo': true, 'bar': false }">@ViewChild DOM Element</span><br />
    spans classes: <mark>{{theSpan.className}}</mark>
</p>
<bindings-child [jsonData]="jsonData" (change)="change($event)"></bindings-child>
