<h2>Bindings - Component</h2>

<div *ngIf="jsonData">
    <button class="button" (click)="refresh()">Refresh data</button>
</div>
<p>
    Refresh does propagate down.
</p>
<div *ngIf="jsonData">
    <h3>User Id: {{ jsonData.userId }}</h3>
    <h3>Id: {{ jsonData.id }}</h3>
    <h3>Title: {{ jsonData.title }}</h3>
    <p>Body: {{ jsonData.body }}</p>
</div>
<p>
    <span #theSpan [class.true-that]="1 == 1" [ngClass]="{'foo': 2 == 2, 'bar': 2 == 4 }">@ViewChild DOM Element</span>
</p>
<bindings-child [jsonData]="jsonData" (change)="change($event)"></bindings-child>
