<h3>Person Form</h3>

<form [formGroup]="personForm" (ngSubmit)="onSubmit()">
    <person-form-check-validity [personForm]="personForm"></person-form-check-validity>
    <div>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" formControlName="firstName">
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" formControlName="lastName">
    </div>
    <div>
        <label for="nickName">Nickname</label>
        <input type="text" id="nickName" formControlName="nickName">
    </div>
    <div class="text-right">
        <button type="submit" class="button success">Submit</button>
    </div>
</form>
