<h3>Person Form</h3>

<form [formGroup]="personForm" (ngSubmit)="onSubmit()">
    <div>
        <h4>Check validity</h4>
        <a (click)="formIsValid()">Form</a> |
        <a (click)="formControlIsValid('firstName')">First Name</a> |
        <a (click)="formControlIsValid('lastName')">Last Name</a> |
        <a (click)="formControlIsValid('nickName')">Nickname</a>
    </div>
    <div>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" formControlName="firstName">
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" formControlName="lastName">
    </div>
    <div>
        <label for="nickName">Nickname</label>
        <input type="text" id="nickName" formControlName="nickName">
    </div>
    <div>
        <button type="submit" class="button success">Submit</button>
    </div>
</form>
