<h3>Person Form</h3>

<form [formGroup]="personFormGroup" (ngSubmit)="onSubmit()">
    <my-person-form-check-validity [personFormGroup]="personFormGroup"></my-person-form-check-validity>
    <fieldset>
        <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" formControlName="firstName">
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" formControlName="lastName">
        </div>
        <div>
            <label for="nickName">Nickname</label>
            <input type="text" id="nickName" formControlName="nickName">
        </div>
    </fieldset>
    <my-person-form-address [parentFormGroup]="personFormGroup"></my-person-form-address>
    <div class="text-right">
        <button type="submit" class="button success" [disabled]="!personFormGroup.valid">Submit</button>
    </div>
</form>
