// Override Foundation settings

$white:#FFF; // just a test

// $global-flexbox: false; 
// Seams to have no effect? Maybe it gets overridden by foundation-everything(true), also note that true is default
// It could be that the variable will have effect if we use each foundation mixin seperatly

// App

$my-color-primary: #3498db;
$my-color-background: #ecf0f1;

// Gutter
$my-gutter-md: rem-calc(15px);
