form {
    // This will only work for valid template driven form controls, since they have attributes like [required]
    // .ng-valid[required] {
    //     border-left: 6px solid $my-color-success !important;
    // }

    .ng-valid {
        border-left: 6px solid $my-color-success !important;
    }
        
    .ng-invalid  {
        border-left: 6px solid $my-color-danger !important;
    }

    [ngmodelgroup].ng-invalid, fieldset.ng-invalid {
        border-left: 0 !important;
    }
}

