body {
    background-color: $white;
}

.my-site-container {
    max-width: $global-width;
    margin-left: auto;
    margin-right: auto;
    padding: $my-gutter-md;
}

h1 {
    font-size: rem-calc(32px);
}

h2 {
    font-size: rem-calc(26px);
}

h3 {
    font-size: rem-calc(22px);
}

h4 {
    font-size: rem-calc(18px);
}

hr {
    max-width: 100%;
}
