.my-cursor-pointer {
    cursor: pointer!important;
}

.my-link-text {
    line-height: inherit;
    color: $anchor-color;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $anchor-color-hover
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }
}
