<form #heroForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="grid-x grid-margin-x">
        <div class="cell medium-6">
            <label for="name">Name (required)</label>
            <input type="text" id="name" name="name" [(ngModel)]="model.name" required>
        </div>
        <div class="cell medium-6">
            <label for="alter-ego">Alter Ego</label>
            <input type="text" id="alter-ego" name="alter-ego" [(ngModel)]="model.alterEgo">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell medium-6">
            <div>
                <label for="power">Power (required)</label>
                <select id="power" name="power" required [(ngModel)]="model.power">
                    <option *ngFor="let power of supportData.powers" [value]="power">{{power}}</option>
                </select>
            </div>
            <div>
                <label for="code">Code (required, min 4 char)</label>
                <input type="text" id="code" name="code" [(ngModel)]="model.code" 
                        [required]="supportData.codeRule.isRequired"
                        [minlength]="supportData.codeRule.minlength"
                        [disabled]="supportData.codeRule.isDisabled"
                        hero-form-validation [currentModel]="model" [supportData]="supportData">
            </div>
        </div>
        <div class="cell medium-6">
            <div class="grid-x grid-margin-x">
                <fieldset class="cell small-6">
                    <legend>Food Preference (required)</legend>
                    <div *ngFor="let food of supportData.foodPreferences; let i = index">
                        <input type="radio" id="food-preference-{{i}}" name="food-preference" [value]="food" [(ngModel)]="model.foodPreference" required>
                        <label for="food-preference-{{i}}">{{food}}</label>
                    </div>
                </fieldset>
                <fieldset class="cell small-6">
                    <div class="flex-container align-right">
                        <div>
                            <legend>Other Stuff</legend>
                            <div>
                                <input type="checkbox" id="is-crazy" name="is-crazy" [(ngModel)]="model.isCrazy">
                                <label for="is-crazy">Crazy?</label>
                            </div>
                            <div>
                                <input type="checkbox" id="is-nice" name="is-nice" [(ngModel)]="model.isNice">
                                <label for="is-nice">Nice?</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <special-text-area [form]="heroForm" [model]="model"></special-text-area>
    <div class="grid-x">
        <div class="cell medium-offset-3 medium-6 large-offset-4 large-4">
            <button type="submit" class="success button expanded" [disabled]="!heroForm.form.valid">Submit</button>
            <!-- 
                Without type="submit", it wont work with ngSubmit in the form tag above. 
                However, with type="submit", older browsers might actually do a regular submit which is not optimal.
                An alternative is to use type="button" and wire up a click event to the button (and remove ngSubmit).
            -->
        </div>
    </div>
</form>
