<form #heroForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="grid-x grid-margin-x">
        <div class="cell medium-6">
            <div>
                <button class="my-link-text" type="button" (click)="disableFormControl('name')">Disable name</button>
                <button class="my-link-text" type="button" (click)="enableFormControl('name')">Enable name</button>
            </div>
            <label for="name">Name (required)</label>
            <input type="text" id="name" name="name" [(ngModel)]="model.name" required>
            <!--

                <input [(ngModel)]="user.name">
                <input [ngModel]="user.name"` (ngModelChange)="user.name = $event">

                These are the same ^

                "The [(ngModel)] syntax is sugar syntax for masking the (ngModelChange)"
                https://toddmotto.com/angular-2-forms-template-driven

            -->
        </div>
        <div class="cell medium-6">
            <label for="alter-ego">Alter Ego</label>
            <input type="text" id="alter-ego" name="alter-ego" [(ngModel)]="model.alterEgo">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell medium-6">
            <div>
                <!-- 
                    Template form: array with option as label, string array
                    [value] for value types, [ngValue] for objects
                    Using a Label option that comes from the bound array wont work, 
                        - since value (needs to be empty for required validation to work) and label (needs to NOT be empty) would be the same
                        - (allthough could use a custom validator)
                    Label option with value="" is not valid according to required, good
                    hero-form-setup.service.ts , model.power = '' , sets label option as default selected
                    <option value="" selected *ngIf="something.length > 1">Select something</option>: 
                        - selected attribute is another option perhaps?
                        - *ngIf can be used to hide label option if only one choice
                -->
                <label for="power">Power (required)</label>
                <select id="power" name="power" required [(ngModel)]="model.power">
                    <option value="">Select One</option>
                    <option *ngFor="let power of supportData.powers" [value]="power">{{power}}</option>
                </select>
            </div>
            <div>
                <!--
                    Template form: array with option as label, object array
                    Label option with [ngValue]="null" is not valid according to required, good
                    hero-form-setup.service.ts , model.powerObject = null , sets label option as default selected
                -->
                <label for="powerObject">Power Objects (required)</label>
                <select id="powerObject" name="powerObject" required [(ngModel)]="model.powerObject">
                    <option [ngValue]="null">Select One</option>
                    <option *ngFor="let power of supportData.powerObjects" [ngValue]="power">{{power.name}}</option>
                </select>
                <!--
                    For reactive forms, start here: https://ultimatecourses.com/blog/angular-dynamic-components-forms#select-field
                    See also docs in person-form-check-validity.component.html
                -->
            </div>
            <div>
                <label for="code">Code (required, min 4 char)</label>
                <input type="text" id="code" name="code" [(ngModel)]="model.code" [required]="supportData.codeRule.isRequired" [minlength]="supportData.codeRule.minlength"
                    [disabled]="supportData.codeRule.isDisabled" myHeroFormValidation [model]="model" [supportData]="supportData">
            </div>
        </div>
        <div class="cell medium-6">
            <div class="grid-x grid-margin-x">
                <fieldset class="cell small-6">
                    <legend>Food Preference (required)</legend>
                    <div *ngFor="let food of supportData.foodPreferences; let i = index">
                        <input type="radio" id="food-preference-{{i}}" name="food-preference" [value]="food" [(ngModel)]="model.foodPreference" required>
                        <label for="food-preference-{{i}}">{{food}}</label>
                    </div>
                </fieldset>
                <fieldset class="cell small-6">
                    <div class="flex-container align-right">
                        <div>
                            <legend>Other Stuff</legend>
                            <div>
                                <!--
                                    (ngModelChange)="funk()" // use it to listen to checkbox clicks, can pass in $event or check model
                                    
                                    [checked]="isGodkand" (change)="isGodkand = !isGodkand" // works also

                                    boolean should reflect checked status...
                                -->
                                <input type="checkbox" id="is-crazy" name="is-crazy" [(ngModel)]="model.isCrazy">
                                <label for="is-crazy">Crazy?</label>
                            </div>
                            <div>
                                <input type="checkbox" id="is-nice" name="is-nice" [(ngModel)]="model.isNice">
                                <label for="is-nice">Nice?</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="grid-x grid-margin-x" ngModelGroup="account" #userAccountFormGroup="ngModelGroup">
        <div class="cell medium-6">
            <div>
                <button class="my-link-text" type="button" (click)="disableFormControl('email', userAccountFormGroup)">Disable email</button>
                <button class="my-link-text" type="button" (click)="enableFormControl('email', userAccountFormGroup)">Enable email</button>
            </div>
            <label for="email">Email (required, email)</label>
            <!-- OBS ngModel is enough for get binding (see comments in code behind) -->
            <!-- We are using a code behind constant for the name attribute. Although should we? -->
            <input type="email" id="email" name="{{heroFormConstant.email}}" ngModel required email #userAccountFormGroupEmailFormControl="ngModel">
        </div>
        <div class="cell medium-6">
            <label for="confirmEmail">Confirm Email (required, email)</label>
            <input type="email" id="confirmEmail" name="confirmEmail" [(ngModel)]="model.confirmEmail" required email>
        </div>
    </div>
    <my-special-text-area [form]="heroForm" [model]="model"></my-special-text-area>
    <div class="grid-x">
        <div class="cell medium-offset-3 medium-6 large-offset-4 large-4">
            <button type="button" class="info button expanded" (click)="logForm()">Log form</button>
            <button type="submit" class="success button expanded" [disabled]="!heroForm.valid">Submit</button>
            <!-- 
                Without type="submit", it wont work with ngSubmit in the form tag above. 
                However, with type="submit", older browsers might actually do a regular submit which is not optimal.
                An alternative is to use type="button" and wire up a click event to the button (and remove ngSubmit).
                However, submitting the form by using enter key wont work (but focus button and enter will work)
                Perhaps we get an event and can use event.preventDefault(); ?
            -->
        </div>
    </div>
</form>
