<div>
    <h4>Check validity</h4>
    <button class="my-link-text" (click)="formIsValid()">Form</button> |
    <button class="my-link-text" (click)="formControlIsValid()" [disabled]="selectedControl == null">Check Selected Control</button>
    <select [(ngModel)]="selectedControlIndex" (change)="onSelectControl()">
        <option [value]="-1">Select Control</option>
        <option *ngFor="let sc of selectableControls; let i = index" [value]="i">{{ sc.label }}</option>
    </select>

    <!-- 
        Info about select with Reactive Forms
            https://malcoded.com/posts/angular-fundamentals-reactive-forms
            https://stackoverflow.com/questions/49918687/differences-between-value-and-ngvalue-in-angular-5
    -->

</div>
