<nav>
    <!-- https://angular.io/api/router/RouterLinkActive -->

    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
    <a routerLink="/bindings" routerLinkActive="active">Bindings</a>
    <a routerLink="/data-sharing" routerLinkActive="active">Data Sharing</a>
    <a routerLink="/data-sharing-sibbling" routerLinkActive="active">Data Sharing Sibbling</a>
    <a routerLink="/form-template-driven" routerLinkActive="active">Form - Template Driven</a>
    <a routerLink="/form-reactive" routerLinkActive="active">Form - Reactive</a>
    <a routerLink="/rxjs" routerLinkActive="active">RxJS</a>
    <a routerLink="/another-module" routerLinkActive="active">Another Module</a>
    <a routerLink="/paging" routerLinkActive="active">Paging</a>

    <a routerLink="/detail/11" routerLinkActive="active">11</a>
    <a routerLink="/detail/12" routerLinkActive="active">12</a>
    <hr>
</nav>
