<nav>
    <!-- https://angular.io/api/router/RouterLinkActive -->

    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
    <a routerLink="/bindings" routerLinkActive="active">Bindings</a>
    <a routerLink="/data-sharing" routerLinkActive="active">Data Sharing</a>
    <a routerLink="/data-sharing-sibbling" routerLinkActive="active">Data Sharing Sibbling</a>
    <a routerLink="/form-template-driven" routerLinkActive="active">Form - Template Driven</a>
    <a routerLink="/form-reactive" routerLinkActive="active">Form - Reactive</a>
    <a routerLink="/rxjs">RxJS</a>
    <a routerLink="/another-module">Another Module</a>
    <a routerLink="/paging">Paging</a>

    <a routerLink="/detail/11">11</a>
    <a routerLink="/detail/12">12</a>
    <hr>
</nav>
