<h2>RxJS</h2>
<h3>Resources</h3>
<ul>
    <li>
        <a href="https://www.youtube.com/watch?v=jgWnccjXR4I">Callbacks vs Promises vs RxJs Observables vs async/ await</a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=T9wOu11uU6U&index=1&list=PL55RiY5tL51pHpagYcrN9ubNLVXF8rGVi">RxJS - What and Why?</a>
    </li>
    <li>
        <a href="https://www.learnrxjs.io/concepts/operator-imports.html">Rxjs - operator imports</a>
    </li>
</ul>
<p>
    Observable (can be sync or async) Subscription -> Observer (next(), error(), complete() will be invoked by the Observable through the Subscription)
</p>
<hr>
<h3>Testing</h3>
<div>
    <button #button>Button 1</button>
</div>
