<my-error></my-error>
<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
  <a routerLink="/bindings">Bindings</a>
  <a routerLink="/data-sharing">Data Sharing</a>
  <a routerLink="/data-sharing-sibbling">Data Sharing Sibbling</a>
  <a routerLink="/form-template-driven">Form - Template Driven</a>
  <a routerLink="/games">Games</a>

  <a routerLink="/detail/11">11</a>
  <a routerLink="/detail/12">12</a>
  <hr>
</nav>
<router-outlet></router-outlet>
