@import 'settings/settings';
@import 'my-settings';

nav {
    a + a {
        margin-left: $my-gutter-sm;
    }

    a.active {
        background-color: $my-color-alice;
        font-weight: $my-font-weight-bold;
    }
}
