<div>
    <h2>Animate CSS</h2>
    <h3>We can do one of the following</h3>
    <ul>
        <li>Include it in .angular-cli.json styles array</li>
        <li>Import it in app.scss, url('') is needed, can shorten path with includePaths in .angular-cli.json</li>
    </ul>
    <p>
        Both ways will make the file part of the CLI build, so the style will be minified.
    </p>
    <div class="animated" [ngClass]="{'rubberBand': triggerAnimation}">
        <h3>Animation</h3>
    </div>
    <button class="my-link-text" (click)="onTriggerAnimation()">Trigger animation</button>
</div>
