<h2>Form - Template Driven</h2>
<p>
    Angular offers two form-building technologies: Reactive Forms and Template Driven Forms. The two technologies belong to the
    @angular/forms library and share a common set of form control classes. But they diverge markedly in philosophy, programming
    style, and technique. They even have their own modules: the ReactiveFormsModule and the FormsModule.
</p>
<p>
    <a href="https://angular.io/guide/reactive-forms">Read more about Template-driven forms and Reactive forms</a>
</p>
<p>
    <a href="https://angular.io/guide/forms">Here, we are going to do a Template Driven Form (allthough no backend)</a>
</p>
<div class="grid-x">
    <div class="cell large-offset-2 large-8">
        <hero-form></hero-form>
    </div>
</div>
