<h2>Some Pipes</h2>
<p>
  <a href="https://angular.io/guide/pipes">Angular has built in pipes.</a>
  They are case sensitive.
</p>

<h3>Parameterizing a pipe</h3>
<p>
  A pipe can accept any number of optional parameters. To add parameters to a pipe, follow the pipe name with a colon and then the parameter value (such as currency:'EUR'). 
  If the pipe accepts multiple parameters, separate the values with colons (such as slice:1:5)
</p>

<h3>json Pipe Example</h3>
<p>
  Useful for debugging
</p>
<h4>Without pipe</h4>
<p>
  {{ obj }}
</p>
<h4>With pipe (also chaining uppercase for fun)</h4>
<p>
  {{ obj | json | uppercase }}
</p>

<h3>Date Pipe Example</h3>
<h4>Without pipe</h4>
<p>
  {{ vacation }}
</p>
<h4>With pipe</h4>
<p>
  {{ vacation | date : 'yyyy-MM-dd, h:mm' }}
</p>
